//Fonts
$font-one: "Hammersmith One", sans-serif;
$font-two: "Notable", sans-serif;

//Colors
$primary-color: #db1f48;
$secondary-color: #004369;
$border-color: #01949a;
$white: #ffffff;
$off-white: #e5ddc8;
$off-white2: #eeffff;
$off-white3: #f2f2f2;

