html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=== SMALL SCREEN VERSION (Like mobile and is default)===*/
@media (min-width: 300px) {
  /*General Styling*/
  body {
    @include zeroMarPad;
    background-color: $primary-color;
    font-family: $secondary-font;
    font-size: 1rem;
    line-height: 2;
  }
  h1,
  h2,
  h3 {
    font-family: $primary-font;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  article {
    flex-basis: 73%;
  }
  figure {
    @include displayFlex(row wrap, center);
    & img {
      border-radius: $border-size;
    }
  }
  /* make images flexible */
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
  a {
    color: $highlight-color;
    &:hover {
      text-decoration: none;
    }
  }
  header {
    border-bottom: $border-size solid $line-color;
  }
  /* establishes a white background */
  .main-bkgd {
    background: $white-background url("../images/gulp-bottom-beans.jpg")
      repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    margin: 0 auto;
    padding: $padding;
    @include displayFlex(row wrap, space-around);
  }
  .button {
    display: inline-block;
    background-color: $highlight-color;
    border-radius: $border-size;
    padding: 0.5rem 1rem;
    margin: 0;
    color: $white-color;
    text-decoration: none;
    border: 3px solid $highlight-color;
    &:hover {
      background-color: $white-color;
      color: $highlight-color;
    }
  }
  //--- Navbar styling
  nav .logo img {
    max-width: 150px;
  }
  nav li {
    @include displayFlex(row wrap, center);
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    /* max width on the image in pixels */
    /* flex basis on the image container, li */
    & a {
      color: $white-background;
      text-decoration: none;
      display: block;
      &:hover {
        color: $line-color;
      }
    }
  }
  //--- Product Page Styling
  .product {
    @include displayFlex(row wrap, space-around);
  }
  //--- Footer Styling
  footer {
    color: $white-color;
    text-align: center;
    border-top: $border-size solid $line-color;
    & ul {
      list-style-type: none;
      @include zeroMarPad;
      @include displayFlex(row wrap, center);
    }
    & a {
      color: $white-color;
      font-size: 2rem;
      display: block;
      margin: 0 1rem 3rem 1rem;
    }
  }
}